@charset "UTF-8";
$width-normal : 768px;
$width-large : 1440px;

$color-dark-500 : #0d0d0d;
$color-dark-400 : #262626;
$color-dark-300 : #595959;
$color-dark-200 : #737373;

$color-light-100 : #ffffff;
$color-light-200 : #fafafa;
$color-light-300 : #eeeeee;

$color-green : #898c20;
$color-blue : #1d4259;
$color-red-300 :#EB5757;
$color-red-100 : #d99177;



$font-sans-serif : 'Noto Sans KR', sans-serif;
$font-serif :'Noto Serif KR', serif;

.button-clear{
    border:0;
    padding:0;
    background-color: transparent;
    cursor: pointer;
    outline: 0;
    -webkit-appearance: none;
}

svg{
    width:auto;
    height:auto;
    display:block;
}

