@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;400;700&family=Noto+Serif+KR:wght@500&display=swap');
@import 'partialAsset';



* {
    font-family: $font-sans-serif;
    font-size: 99px;
    font-weight: normal;
}

h1{
    font-family: $font-serif;
}


// 폰트 뭐쓰지;
