@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;400;700&family=Noto+Serif+KR:wght@400;600;900&display=swap');
@import 'partialAsset';


html body{
    position:relative;
    width:100%;
    height:auto;
    overflow: hidden;
    overflow-y: scroll;
    font-size:14px;
    line-height:1.5;
    font-family: $font-sans-serif;
    color:$color-dark-500;


    h1{
        font-size:28px;
        font-weight:900;
    }

    h2{
        font-size:24px;
    }

    h3{
        font-size:18px;
    }

    a{
        color:$color-green-light;
        text-decoration: underline;
        transition: all 0.3s ease-in-out;

        &:hover{
            color:$color-green-main;
            transition: all 0.3s ease-in-out;
        }
    }

    #content-wrap{
        margin:128px auto 64px;
        display:flex;
        max-width:$width-normal;
        padding:16px;
        box-sizing: border-box;
        font-weight:normal;
    }

    .page-layout{
        #content-wrap{
            font-family: $font-serif;
        }
    }

    .post-layout{
        #content-wrap{
            font-family: $font-sans-serif;
            font-size:16px;
            word-break: keep-all;
        }
    }
}

